<style type="text/css">
p.normal {font-weight: normal}
p.thick {font-weight: bold}
</style>
<div class="col-md-12">
  <div class="group">
    <%= link_to("新增评论", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>

      <tr>
        <td>#</td>
        <td><p class="thick">电影主题</p></td>
        <td><p class="thick">影评内容</p></td>
        <td><p class="thick">影评者</p></td>
      </tr>
    </thead>
    <tbody>
  <%= render :partial => "group_item", :collection => @groups, :as => :group %>
    </tbody>
  </table>
</div>
