   <div class="jumbotron">
     <h1 class="title" style="color:white">影评时刻</h1>

     <p class="slogan">影评时刻，一个聚集真实意见的影评平台。
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/groups">马上发声</a></p>
   </div>

   <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fe9lluhau5j303k03kaab.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3 align="center">中国上海</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fe9jscrxyyj303k03k0sx.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3 align="center">yy@xx.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fe9jsxw4oyj303k03kdfv.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3 align="center">021-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
